*{
	margin-left: 0;
	margin-right: 0;
	padding: 0.5%;
}

.fig-cabecera{
	margin: 0;
	float: left;

}


header h1{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	padding: 30px 10px 25px 0px;
	margin: 15px 250px;
	font-size: 80px;
	margin-right: 200px;
	margin-left: 290px;
	font-family: Berlin Sans FB Demi;
	color: white;
    text-shadow: #555 2px 2px 3px;

 }
 body{
	margin-left: 200px;
	margin-right: 200px;
	padding: 30px;
	padding-bottom: 5px;
	float: justify;
	font-size: 16px;

  background: -webkit-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FBD3E9 10%, #BB377D 90%); /* W3C */
        }

 #navegacion{	
	color: white;
	font-family: Arial;
	font-size: 20px;
}
#navegacion ul{
	margin-top: 0px;
	margin-bottom: 0px;
}
#navegacion ul li{
	background: #AC19B0;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow:#555 2px 2px 3px;
}
#navegacion ul li a{
	text-decoration: none;
	color: white;
}
#navegacion ul li:hover{
	background: #C6549B;
}
.imgsection{
	margin: 0;
	float: left;
}
.post-title{
	font-family: Arial black;
	color:#710E82;
	}
	div{
	background:white;
	display: inline-block;
	
}
section{
	background: #BCE0D9;
	font-family: Arial;
	padding-top: 0px;
	margin-top: 0px;
	}


footer{
font-size: 20px;
	color:#590B66;
	font-family: Arial;
	
}